.mainInfoSection{
    display: flex;
    justify-content: left;
    color: white;
    background-color: #000000;
    height: 45%;
    width: 70%;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
}

.weatherInfoSpace{
    margin-right: auto;
    margin-left: 10%;
}

.cityName{
    font-size: 3vh;
}

.currentTemp{
    font-size: 6vh;
}

.realFeelTemp{
    font-size: 1.6vh;
}

.lowhighTemps{
    font-size: 1.6vh;
}

.weatherIconSpace{
    margin-left: auto;
    margin-right: 10%;
}

.weatherIcon{
    height: 250px;
    width: 250px;
}

.weatherIconDesc{
    font-size: 18px;
}