.mainInfoSection{
    display: flex;
    justify-content: left;
    color: white;
    background-color: #000000;
    height: 400px;
    width: 900px;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
}

.weatherInfoSpace{
    margin-right: auto;
    margin-left: 10%;
}

.cityName{
    font-size: 40px;
}

.currentTemp{
    font-size: 55px;
}

.realFeelTemp{
    font-size: 14px;
}

.weatherIconSpace{
    margin-left: auto;
    margin-right: 10%;
}

.weatherIcon{
    height: 250px;
    width: 250px;
}

.weatherIconDesc{
    font-size: 18px;
}