.mainInfoSection{
    display: flex;
    justify-content: left;
    color: white;
    background-color: #000000;
    height: 45%;
    width: 70%;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
}

.weatherInfoSpace{
    margin-right: auto;
    margin-left: 10%;
}

.cityName{
    font-size: 3vh;
}

.currentTemp{
    font-size: 6vh;
}

.realFeelTemp{
    font-size: 1.6vh;
}

.lowhighTemps{
    font-size: 1.6vh;
}

.weatherIconSpace{
    margin-left: auto;
    margin-right: 10%;
}

.weatherIcon{
    height: 75%;
    width: 90%;
}

.weatherIconDesc{
    font-size: 18px;
}

@media screen and (max-width: 900px){
    /* Hide weather icon and desc and remove space */
    .weatherIcon{
        display: none;
        position: absolute; 
        left: -999em;
    }
    .weatherIconDesc{
        display: none;
        position: absolute; 
        left: -999em;
    }

    /* Center weather info */
    .weatherInfoSpace{
        margin-left: 15%;
        margin-right: auto;
        width: 70%;
    }
}

@media screen and (min-height: 1050px){
    /* Hide weather icon and desc and remove space */
    .weatherIcon{
        display: none;
        position: absolute; 
        left: -999em;
    }
    .weatherIconDesc{
        display: none;
        position: absolute; 
        left: -999em;
    }

    /* Center weather info */
    .weatherInfoSpace{
        margin-left: 15%;
        margin-right: auto;
        width: 70%;
    }
}