.sideInfoSection{
    display: block;
    overflow: auto;
    width: 70%;
    color: white;
    background-color: #000000;
    margin: auto;
    margin-top: 30px;
    padding: 15px 0;
    border-radius: 10px;
    font-size: 14px;
}

.sideInfoSection div{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    padding: 0px 15px;
}

.sideInfoSection div p{
    margin: 0;
}

@media screen and (min-height: 1000px){
    .sideInfoSection{
        margin-top: 75px;
    }
    .sideInfoSection div{
        padding: 5px 15px;
        font-size: 16px;
    }
}